@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FCF6BD   ;
  --secondary-color: #FF99C8 ;
  --accent1-color: #D0F4DE;
  --accent2-color: #E4C1F9;

  /* change the values below to your chosen font(s) */
  --heading-font: "Noto Sans",Arial,sans-serif;
  --paragraph-font: "Noto Sans",Arial,sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans';
    /*margin:0;
    padding:0;*/
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Noto Sans",Arial,sans-serif;
    color:black
}
.content {
    display:grid; 
    max-width: 1600px;
    margin: 0 auto;
    background-color: #eed9fa;
}
header {
    display: grid;
    grid-template-columns: 220px auto;
    background-color:#f8cbe0;
    position: relative; 
    z-index: 2; 
    margin-top:-1px;
    align-items: center;
    }
.logo-link {
    justify-self: center;
    align-self: center;
    }
.logo{
        grid-column:1/3;
        grid-row:1/3;
    }
nav {
        display:flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        }
.nav-item{
    padding:2em;
    font-size: 1.2em;
    color:#1a1c1b;
}
.nav-item:hover{
    background-color: #FCF6BD;
    color:black;
    border-radius:10px;
    padding-top:20px;
}
.hero{
        max-width: 1600px;
        margin: 0 auto; 
        /*margin-top: -100px; 
       /* z-index: 1;*/
       /*background-color: #E4C1F9;*/
       display: flex;
       align-items: flex-start;
       position: relative;
    }
.hero-img {
    max-width: 100%;
    /*height: auto;
    grid-column: 1 / -1; */
}
.hero-title {
    color:black;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}
.hero-title {
    color:black;
    font-size: 2em;
    margin-top: 1px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
     rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
       rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.hero-p {
    color:rgb(66, 2, 71);
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 5px;
    text-align: center;
    padding:14px;
    
}
.sticky-note {
    position: absolute;
    top: 50px; 
    left: 1300px; 
    background-color:#D0F4DE ; 
    padding: 10px;
    border-radius: 5px;
    z-index: 2; 
    text-align: center;
    font-style:italic;
}
.home-grid{
    display:grid;
    background-color:#E4C1F9; ;
}
.myhistory-card {
    display:grid;
    align-items: center;
    column-gap: 5px;
}
.title-story {
    display:grid;
    grid-column:2;
    grid-row:1;
    text-align: center;
    margin-top:10px;
    
}
.myhistory-card p{
    text-align: left;
    grid-column: 2;
    grid-row: 1/span 4;
    padding: 0 0.5em;
    font-size: 1.4em;
}

.myhistory-card img {
    margin: 10px 8px;
    border-radius:10px;
    grid-column: 1;
    grid-row: 1/span 4;
    max-width: 90%;
}
.title-story {
    grid-column:2; 
    text-align: center;
}
.what_to_expect-card {
    display:grid;
    align-items: center;
    column-gap: 5px;
}
.what_to_expect-card  p{
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    padding: 0 0.5em;
    font-size: 1.4em;
}
.what_to_expect-card  img{
    margin: 10px 8px;
    border-radius:10px;
    grid-row: 1/4;
    grid-column: 2;
    max-width: 90%;
}
.what_to_expect-title {
    text-align: center;
}

/*********************************
* Education page css             *
*********************************/

.introduction{
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    justify-content: center;
    margin-top: 50px;
    gap: 50px 0;
}
.introduction-msg {
  display: grid;
  grid-column: 2/-2;
  grid-template-columns: repeat(12, 1fr);
}
.education-title {
    /* text-align: center; */
    grid-column: 1/6;
    grid-row: 1;
    justify-self: center;
}
.card-img-woman-studying {
    margin: 10px auto;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    grid-column: 7/12;
    grid-row: 1/4;
    max-width: 100%;
}
.educational {
    grid-column: 1/6;
}
.university {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2/9;
}
h2.university-t {
    grid-column: 1/4;
}
p.university-p {
    grid-column: 4/13;
}
.mother-studying-card {
    margin: 0 10px 10px 0;
    border-radius: 10px;
    grid-row: 3/6;
    grid-column: 6/10;
    max-width: 80%;
    float: right;
}
section.onlinecourses-card {
    grid-column: 2/-2;
}
a {
    text-decoration: none;
    }
.aside {
        grid-column: 10/12;
        border: solid #000 1px;
        padding: 5px;
        font-style: italic;
        box-shadow: 3px 3px 10px #3e3e3e;
    }
/**********************
*Tips and contact css *
***********************/

.tips {
    display:grid;
    grid-template-columns: auto 1fr;
    /*grid-template-rows:repeat(4,1fr);*/
    align-items: center;
    column-gap: 5px;
}
.tips-title {
    display:grid;
    grid-row: 2/4;
    text-align: center;
    align-self: center; 
    margin:15px;
}
.tips-p{
    text-align: left;
    grid-column: 2;
    grid-row: 1/span 4;
    padding: 0 0.8em;
    margin-top: 10px;
    margin-bottom:10px;
    font-size: 1.4em;
}
.bolded{
    font-weight: bold;
    font-style:oblique;
}

.paragraphs{
    display:grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-template-rows:repeat(4,1fr);
    margin:10px 10px;
    row-gap:10px;
    column-gap: 10px;;
    font-style: italic;
    font-size:1.2em;
}
.p2,.p3,.p4,.p5,.p6,.p7{
    border-radius: 10px;
    border:5px double black;
    margin-top: 10px;
    padding: 20px 20px;
}
.p1{
    display:grid;
    grid-column:1/3;
    position:relative;
    grid-column:2/4;
    padding :10px 10px;
}
.paragraphs-img-1{
    display:grid;
    /*grid-column:3fr;*/
    margin:10px 8px;
    max-width: 100%;
    border-radius:10px;
}
.paragraphs-img-2{
    display:grid;
    /*grid-column:1fr;*/
    margin:10px 8px;
    max-width: 100%;
    border-radius:10px;
}
footer{
    background-color: #FF99C8;
    color:rgb(83, 2, 79);
    padding: 15px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius:5px;
}
footer p {
    font-size: 1.5em;
}    
footer p a:hover {
text-decoration: underline;
}   

footer a {
    color:rgb(83, 2, 79);
    text-decoration: none;
    padding: 25px 10px;
}
footer a:hover {
    color:rgb(26, 24, 24)
}
footer .social img {
    border-radius: 20px;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
    
