@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FCF6BD   ;
  --secondary-color: #FF99C8 ;
  --accent1-color: #D0F4DE;
  --accent2-color: #E4C1F9;

  /* change the values below to your chosen font(s) */
  --heading-font: "Noto Sans",Arial,sans-serif;
  --paragraph-font: "Noto Sans",Arial,sans-serif;
}
body{
    font-family: 'Noto Sans';
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Noto Sans",Arial,sans-serif;
    color:black
}
.content {
    display:grid;  
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F2FFF7;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#E4C1F9;
    position: relative; 
    z-index: 2; 
    }
.logo-link {
    justify-self: center;
    align-self: center;
    }
.logo{
        width:100%;
        height: 100px;
    }
nav {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(3em,1fr));
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        }
.nav-item{
    padding:2em;
}
.nav-item:hover{
    background-color: #FCF6BD;
    color:black
}

.hero{
        display: grid;
        max-width: 1600px;
        margin: 0 auto; 
        margin-top: -100px; 
        position: relative; 
        z-index: 1;
        background-color: #E4C1F9;
    }
.hero-img {
    width: 100%
    
}
.hero-title {
    color:black;
    font-size: 2em;
    margin-top: 20px;
    text-align: center;
}

.hero-p {
    color:rgb(66, 2, 71);
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.home-grid{
    display:grid;
    background-color:#E4C1F9; ;
}
.myhistory-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.myhistory-card p{
    text-align: left;
    grid-column: 2;
    grid-row: 2;
    padding: 0 1em;
}
.myhistory-card img {
    margin: 20px auto;
    border-radius:10px;
    grid-column: 1;
    grid-row: 1/4;
}
.title-story {
    text-align: center;
}
.what_to_expect-card {
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.what_to_expect-card  p{
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    padding: 0 1em;
}
.what_to_expect-card  img{
    margin: 20px auto;
    border-radius:10px;
    grid-row: 1/4;
    grid-column: 2;
}
.what_to_expect-title {
    text-align: center;
}

footer{
        background-color: #FF99C8;
        color:rgb(83, 2, 79);
        padding: 15px 40px;
        margin-top: 50px; 
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius:5px;
    }
footer p {
        font-size: 1.5em;
    }    
footer p a:hover {
    text-decoration: underline;
    }   
    
footer a {
        color:rgb(83, 2, 79);
        text-decoration: none;
        padding: 25px 10px;
    }
footer a:hover {
        color:rgb(26, 24, 24)
    }
footer .social img {
        border-radius: 20px;
    }  
    
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
    
